#app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.side-position {
  background: #fff;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  width: auto;
  height: 100vh;
  flex-direction: column;
  padding-top: 60px;
  overflow-y: auto;
  font-family: Rajdhani, Helvetica;

  .side-title {
    color: #5e6d82;
    height: auto;

    h2 {
      font-size: 22px;
      font-weight: 600;
      margin: 0;
      text-align: right;
      line-height: 52px;
      padding-right: 4px;
      user-select: none;
      text-transform: uppercase;
    }
  }

  &::-webkit-scrollbar {
    opacity: 0;
    background: transparent;
    width: 0;
  }
  &::-webkit-scrollbar-thumb {
    opacity: 0;
    background: transparent;
    width: 0;
  }
}

ul.side-list {
  width: 100%;
  padding-bottom: 20px;
  border-right: 1px solid rgba(103, 183, 232, 0.55);
  overflow: initial;

  >ul {
    margin-right: 20px;
    border-right: 1px solid rgba(103, 183, 232, 0.3);
  }

  li {
    padding-right: 10px;

    p {
      margin: 0;
      letter-spacing: 1px;
      text-align: right;
    }
    &:hover {
      outline: none;
    }
  }

  h2 {
    padding-right: 20px;
    font-size: 20px;
    user-select: none;
    font-weight: 400;
    line-height: 0;
    display: block;
    text-align: right;
    cursor: default;
    color: #b9b4b4;
  }
}

.chapter {
  font-size: 16px;
  line-height: 45px;
  cursor: pointer;
  user-select: none;
  font-weight: 400;

  &.link {
    a {
      color: #5e6d82;
      transition: all .25s;
    }
    a:hover {
      &:before {
        content: '-> ';
        color: #67b7e8;
      }
    }
  }

  &.link.active {
    a {
      color: #67b7e8;
      letter-spacing: 2px;
    }
  }

  a {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.container-position {
  flex: 3;
  display: flex;
  justify-content: flex-start;
  background: #fff;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: static;
  -webkit-overflow-scrolling : touch;

  &::-webkit-scrollbar {
    width: 4px;
    background: #FAFBFC;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #f0f0f0;
  }
}

.container {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  font-family: "Roboto";
}

.container-inner {
  max-width: 900px;
  min-height: 100%;
  margin: 0 0 0 50px;
  padding: 20px 20px 80px;

  >:first-child {
    margin-top: 0!important;
  }

  p {
    color: #5e6d82;
    line-height: 1.6;
    margin: 17px 0;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #1f2f3d;
  }
  h2, h3, h4, h5, h6 {
    font-weight: normal;
  }

  h1 {
    font-size: 27px;
    margin: 60px 0 18px;
    line-height: 2;
    border: none;
    font-weight: 600;
    letter-spacing: 1px;
  }
  h2 {
    font-size: 25px;
    margin: 55px 0 16px;
    line-height: 1.9;
    border: none;
    font-weight: 600;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 22px;
    margin: 50px 0 14px;
    line-height: 1.8;
    font-weight: 500;
    border: none;
  }
  h4 {
    font-size: 20px;
    margin: 44px 0 12px;
    line-height: 1.7;
  }

  ol {
    padding-left: 15px;
    margin: 15px 0 15px 15px;
    color: #5e6d82;

    li {
      line-height: 1.5;
      list-style: unset;
    }

    li + li {
      margin-top: 4px;
    }
  }

  ul {
    margin: 15px 0 15px 5px;
    list-style-type: none;
    color: #5e6d82;

    li {
      list-style-type: disc;
      position: relative;
      line-height: 35px;
      margin-left: 15px;

      img {
        margin: 10px 0;
      }
    }
    li + li {
      margin-top: 4px;
    }
  }

  pre {
    background: #f5f9fb;
    border: none;
    border-radius: 0;
    background: linear-gradient(-45deg, transparent 5px, #f5f9fb 0);
    font-family: Consolas;
    line-height: 1.8;

    code {
      margin: 0;
      background: transparent;
      color: #505050;
    }

    &::-webkit-scrollbar {
      height: 5px;
      border-radius: 3px;
      background: #F6F9FB;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      height: 5px;
      background: #b5c3ca;
    }
    &::-webkit-scrollbar-thumb {

    }
  }
  code {
    background: #f3f3f3;
    padding: 3px 5px;
    color: #5095bf;
    border-radius: 0;
    font-size: 13.5px;
    font-family: Consolas;
  }

  a {
    color: #409EFF;
  }
  img {
    background: #EFF2F7;
    max-width: 85vw;
    border-radius: 3px;
    margin: 10px 0;
    border: 1px solid #dae5ea;
  }

  blockquote {
    background: #f5f9fb;
    background: linear-gradient(-45deg, transparent 5px, #f5f9fb 0);
    border-left: 8px solid #cee9f7;
    border-radius: 0;
    padding: 6px 15px;
    margin: 0;

    p {
      margin: 4px 0;
    }
    code {
      background: #FAFDFF;
      color: #445368;
    }
  }

  p.tips {
    display: block;
    background: #f6f9fb;
    padding: 8px 8px 8px 15px;
    word-break: break-all;
    position: relative;

    &::before, &::after {
      position: absolute;
      top: -1px;
      bottom: -1px;
      content: '';
      width: 4px;
      background: transparent;
      border-top: 2px solid;
      border-bottom: 2px solid;
      z-index: 2;
      border-color: #85cbef;
    }
    &::before {
      left: 0;
      border-left: 3px solid;
    }
    &::after {
      right: 0;
      border-right: 3px solid;
    }
    &.info {
      &::before, &::after {
        border-color: #85cbef;
      }
    }
    &.warning {
      &::before, &::after {
        border-color: #efd9a8;
      }
    }
    &.error {
      &::before, &::after {
        border-color: #e87e7a;
      }
    }
  }

  table {
    tr {
      border: none;
      th {
        border: none;
        border-bottom: 1px solid #e6ebf5;
        line-height: 28px;
        text-overflow: ellipsis;
        color: #878d99;
        font-weight: bold;
        user-select: none;
      }
      td {
        border: none;
        border-bottom: 1px solid #e6ebf5;
        padding: 12px 10px;
      }
      &:nth-child(2n) {
        background: #fbfbfb;
      }
    }
  }
}

.chains {
  position: fixed;
  right: 0;
  top: -100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-bottom: 1px solid rgba(103, 183, 232, 0.55);
  padding: 18px 20px 10px;
  overflow: hidden;
  transition: all .25s ease-in;
  font-family: "Roboto Mono", Monaco, courier, monospace;

  &:before {
    position: fixed;
    content: 'Links';
    color: #39393a;
    top: 0;
    right: 0;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    transition: all .4s ease-in-out;
  }

  &:hover {
    top: 0;

    &:before {
      opacity: 0;
    }
  }

  a {
    display: flex;
    color: #5e6d82;
    text-align: right;
    letter-spacing: 1px;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    font-family: Rajdhani, Helvetica;
    transition: all .15s ease-in-out;

    &:hover {
      &:before {
        content: '-> ';
        color: #67b7e8;
      }
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.loading-indicator {
  position: fixed;
  width: 36px;
  height: 36px;
  text-align: center;
  border-radius: 50%;
  left: 50%;
  top: 25px;
  overflow: hidden;
  transform: translateX(132px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease-in-out;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;

  &.show {
    opacity: .5;
    visibility: visible;
  }

  span {
    display: none;
  }

  .loading-indicator-container {
    width: 35px;
    height: 35px;
    margin: 0 auto;
    border: 1px solid #409eff;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: loading 600ms infinite linear;
    -webkit-animation: loading 600ms infinite linear;
  }

  @keyframes loading {
    100%{ transform: rotate(360deg); transform: rotate(360deg); }
  }

  @-webkit-keyframes loading {
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }

}
